*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.app-wrapper{
    width: 100%;
    height: 100vh;
}
main{
    width: 100%;
    height: calc(100% - 100px);
}
footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #333333;
}
a{
    text-decoration: none;
    color: grey;
}
p{
    color: gray;
    font-size: 12px;
}
.main-nav{
    float: left;
    width: 250px;
    height: 100%;
    background-color: black;
    font-size: 16px;
    font-weight: bold;
    color: grey;
    line-height: 30px;
}
.main-content{
    float: left;
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: auto;
    background-color: #0a1429;
}
/* MAIN NAV */
.logo{
    align-items: center;
    height: 70px;
    width: 150px;
    margin-top: 8px;
    padding-left: 8px;
}
.logo-small{
    display: none;
}
.nav-actions{
    height: 80px;
}
.nav-actions-lyst{
    padding-left: 8px;
}
.home{
    display: none;
}
.search{
    display: none;
}
.libreria{
    display: none;
}
.nav-left-lyst:hover{
    color: white;
    border-left: 2px solid lime;
    padding-left: 5px;
    margin-left: -8px;
    text-align: start;
    display: inline-block;
}
.items{
    width: 23px;
    vertical-align: text-bottom;
}
.nav-playlist{
    overflow: hidden;
    height: calc(100% - 225px);
}
.playlist-lyst{
    overflow-y: auto;
    height: 100%;
    padding: 8px;
}
.create-playlist{
    padding-left: 8px;
}
h4{
    padding-left: 8px;
    padding-top: 25px;
    font-size: 15px;
    color: white;
}
#plus-grey{
    color: black;
    padding: 8px;
    background-color: lightgray;
    margin: 5px 5px 5px 0;
}
.user{
    height: 70px;
    background-color: black;
    font-weight: bold;
    font-size: 14px;

}
.app-color{
    color: grey;
    padding-bottom: 4px;
    
}
.user-border{
    padding-top: 5px;
    border-top: 1px solid grey;
    color: white;
    vertical-align: middle;
    
}
.user-img{
    width: 23px;
    height: auto;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 50%;
    vertical-align: text-bottom;
}
.user-img-600{
    display: none;
}
#plus-black{
    font-size: 8px;
    padding: 1px;
    border: 1px solid grey;
    border-radius: 50%;
    vertical-align: middle;
}
#plus-black-600{
    display: none;
}
/* MAIN CONTENT */
.main-top{
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
h5{
    text-transform: uppercase;
    color: white;
    font-size: 11px;
    padding: 10px 35px;
    border: 1px solid white;
    border-radius: 30px;
}
/* nav-main-content */
.nav-main-content{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 10px 0;
    list-style-type: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    white-space: nowrap;
}
.lyst-main-content{
    margin-right: 15px;
}
.lyst-main-content:hover{
    border-bottom: 2px solid lime;
}
/* MAIN SONG CONTENT */
.main-content-song{
    width: 95%;
    margin: auto;
}
.main-content-song h2{
    text-align: left;
    color: white;
    padding: 20px 0;
}
/* song-list */
.song-list{
    display: flex;
    justify-content: space-between;
    gap: 1%;
}
.song-image{
    width: 200px;
    text-align: center;
    font-size: 14px;
}
.song-image img{
    width: 200px;
}
.hov-player{
    position: relative;
}
.start{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 45px;
    color: white;
}
.song-image img:hover{
    background-color: black;
    opacity: 0.5;
}
.song-image h3{
    color: white;
    padding-bottom: 5px;
}
/* second-song-list */
.second-song-list{
    display: flex;
    gap: 1%;
}
.second-song-image{
    width: 200px;
    text-align: center;
    font-size: 14px;
    margin-right: 20px;
}
.second-song-image img{
    width: 200px;
}
.second-song-image h3{
    color: white;
    padding-bottom: 5px;
}
.second-song-image img:hover{
    background-color: black;
    opacity: 0.5;
}
/* third-song-image */
.third-song-image{
    width: 200px;
    text-align: center;
    font-size: 14px;
    margin-right: 20px;
}
.third-song-image img{
    width: 200px;
    border-radius: 50%;
}
.third-song-image h3{
    color: white;
    padding-bottom: 5px;
}
.third-song-image img:hover{
    background-color: black;
    opacity: 0.5;
}
@media screen and (max-width: 1099px) {
    .nav-main-content{
        display: flex;
        justify-content: space-between;
        width: 60%;
        margin: auto;
        padding: 10px 0;
        list-style-type: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        white-space: nowrap;
    }
    .song-list{
        display: flex;
        justify-content: space-between;
        gap: 1%;
    }
    .song-image{
        width: 130px;
        text-align: center;
        font-size: 14px;
    }
    .song-image img{
        width: 130px;
    }
    h3{
        font-size: 12px;
    }
    h2{
        font-size: 18px;
    }
    .second-song-image{
        width: 130px;
        text-align: center;
        font-size: 14px;
    }
    .second-song-image img{
        width: 130px;
    }
    .third-song-image{
        width: 130px;
        text-align: center;
        font-size: 14px;
        margin-right: 20px;
    }
    .third-song-image img{
        width: 130px;
        border-radius: 50%;
    }
    
}
@media screen and (max-width: 699px) {
    .nav-main-content{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: 15px;
        width: 80%;
        margin: auto;
        padding: 10px 0;
        list-style-type: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 11px;
        white-space: nowrap;
    }
    .song-list{
        display: flex;
        flex-flow: wrap;
        justify-content: flex-start;
        gap: 1%;
    }
    .song-image{
        width: 100px;
        text-align: center;
        font-size: 14px;
    }
    .song-image img{
        width: 100px;
    }
    h3{
        font-size: 12px;
    }
    h2{
        font-size: 18px;
    }
    .second-song-image{
        width: 100px;
        text-align: center;
        font-size: 14px;
    }
    .second-song-image img{
        width: 100px;
    }
    .third-song-image{
        width: 100px;
        text-align: center;
        font-size: 14px;
        margin-right: 20px;
    }
    .third-song-image img{
        width: 100px;
        border-radius: 50%;
    }
}
@media screen and (max-width: 599px) {
    .nav-main-content{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: 15px;
        width: 90%;
        margin: auto;
        padding: 10px 0;
        list-style-type: none;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 11px;
        white-space: nowrap;
    }
    .main-nav{
        float: left;
        width: 40px;
        height: 100%;
        /* height: calc(100% - 100px); */
        background-color: black;
        font-size: 16px;
        font-weight: bold;
        color: grey;
        line-height: 30px;
    }
    .logo{
        display: none;
    }
    .logo-small{
        display: block;
        align-items: center;
        width: 35px;
        margin-top: 8px;
        padding-left: 8px;
    }
    .nav-left-lyst{
        display: none;
    }
    .nav-actions-lyst{
        line-height: 6px;
    }
    .home{
        display: block;
        width: 28px;
    }
    .search{
        display: block;
        width: 35px;
    }
    .libreria{
        display: block;
        width: 35px;
    }
    h4{
        display: none;
    }
    .user-border{
        display: none;
    }
    .user-img{
        display: none;
    }
    .user-img-600{
        display: inline-block;
        width: 23px;
        height: auto;
        background-color: grey;
        border: 1px solid grey;
        border-radius: 50%;     
    }
    .user-600{
        text-align: center;
    }
    .app-color{
        display: none;
    }
    #plus-black{
        display: none;
    }
    #plus-black-600{
        display: inline-block;
        font-size: 8px;
        padding: 1px;
        border: 1px solid grey;
        border-radius: 50%;
        vertical-align: middle;
    }
    .plus-600{
        text-align: center;
    }
    .playlist-lyst{
        display: none;
    }
    .song-list{
        display: flex;
        flex-flow: wrap;
        justify-content: flex-start;
        gap: 2%;
    }
    .song-image{
        width: 160px;
        text-align: center;
        font-size: 14px;
    }
    .song-image img{
        width: 150px;
    }
    h3{
        font-size: 12px;
    }
    h2{
        font-size: 18px;
    }
    .second-song-image{
        width: 160px;
        text-align: center;
        font-size: 14px;
    }
    .second-song-image img{
        width: 160px;
    }
    .third-song-image{
        width: 160px;
        text-align: center;
        font-size: 14px;
        margin-right: 20px;
    }
    .third-song-image img{
        width: 160px;
        border-radius: 50%;
    }
}
/* FOOTER */

/* FOOTER LEFT */
.footer-row-left{
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.canzone{
    display: flex;
    align-items: center;
}
.dimensione-img-footer{
    width: 40px;
    height: auto;
    margin-left: 8px;
}
.footer-left-text{
    font-size: 14px;
    padding-left: 10px;
    color: grey;
}
.items-footer-left{
    text-align: end;
    color: grey;
}
.autore{
    color: white;
}
/* FOOTER CENTER */
.footer-row-center{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #333333;
}
.row-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
    color: white;
}
#items-footer-row-center{
    padding: 0 10px;
}
#items-footer-row-center-play{
    padding: 0 10px;
    font-size: 30px;
}
.song-duration{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    color: white;
}
.line-song{
    display: flex;
}
.line-song-grey{
    width: 60px;
    height: 2px;
    border: 2px solid lightgray;
    border-radius: 50px;
}
.point{
    width: 5px;
    height: 2px;
    border: 2px solid rgba(0, 0, 0, 0.7);
}
.point:hover{
    width: 12px;
    height: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
}
.line-song-black{
    width: 280px;
    height: 2px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 50px;
}
/* FOOTER RIGTH */
.footer-row-right{
    width: 13%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    color: grey;
}
.volume{
    display: flex;
    padding-right: 10px;
}
.line-volume-grey{
    width: 30px;
    height: 2px;
    border: 2px solid lightgray;
    border-radius: 50px;
}
.line-volume-black{
    width: 70px;
    height: 2px;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-end-end-radius: 50px;
}